fastapi
uvicorn[standard]
pydantic
pydantic-settings
numpy
pandas
xgboost
networkx
scipy
earthengine-api
cdsapi
python-multipart
python-jose[cryptography]
passlib[bcrypt]
kafka-python
sqlalchemy
psycopg2-binary
mlflow
feast
matplotlib
requests
aiohttp
python-dotenv
tenacity
xarray
cfgrib
schedule
shap
